<footer class="py-5 my-5 border-top mb-0 pb-0" id="custom-footer">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
            <div class="col mb-3"> 
                <a href="/" class="d-flex align-items-center mb-4 mx-4 link-body-emphasis text-decoration-none" aria-label="Bootstrap"> 
                   <img src="/assets/ThePeaceLogo.png" alt="The peace logo" width="120px" style="border-radius: 50%;"> 
                </a> 
                <p class="text ml-1" id="name"><strong>Nidhish Bansal | The Peace</strong></p> 
            </div> 
            <div class="col mb-3"></div> 
            <div class="col mb-3"> 
                <h5>Site Navigation</h5> 
                <ul class="nav flex-column"> 
                    <li class="nav-item mb-2">
                        <a href="#home" class="nav-link p-0 text-light">Home</a>
                    </li> 
                    <li class="nav-item mb-2">
                        <a href="#features" class="nav-link p-0 text-light">Features</a>
                    </li> 
                    <li class="nav-item mb-2">
                        <a href="/about" class="nav-link p-0 text-light">About</a>
                    </li>
                    <li>
                        <a href="/contact" class="nav-link p-0 text-light">Contacts</a>
                    </li>
                    <li>
                        <a href="/faq" class="nav-link p-0 py-1 text-light">FAQs</a>
                    </li>                    
                </ul> 
            </div> 
            <div class="col mb-3"> 
                <h5>Other Projects</h5> 
                <ul class="nav flex-column">  
                    <li class="nav-item mb-2"><a href="https://streetconnect-hackathon-tau.vercel.app/" class="nav-link p-0 text-light">Street Connect</a>
                    </li> 
                    <li class="nav-item mb-2">
                        <a href="https://qrify-xo5o.onrender.com/" class="nav-link p-0 text-light">QRify</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-light">Resume</a>
                    </li> 
                </ul> 
            </div> 
            <div class="col mb-3"> 
                <h5>Quick Links</h5> 
                <ul class="nav flex-column"> 
                    <li class="nav-item mb-2">
                        <a href="https://www.linkedin.com/in/nidhish-bansal-906a83298/" class="nav-link p-0 text-light">LinkedIn</a>
                    </li> 
                    <li class="nav-item mb-2">
                        <a href="https://www.instagram.com/bansal.nidhish/" class="nav-link p-0 text-light">Instagram</a>
                    </li> 
                    <li class="nav-item mb-2">
                        <a href="https://github.com/Nidhish-05" class="nav-link p-0 text-light">Github</a>
                    </li> 
                    <li class="nav-item mb-2"><a href="mailto:nidhishbansal05@gmail.com" class="nav-link p-0 text-light">Gmail</a>
                    </li>
                </ul> 
            </div>
        </div>
    </div>
</footer>
</body>
</html>