<header class="navbar navbar-expand-lg border-bottom fixed-top mt-0 pt-0" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/assets/logo.jpg" alt="Logo" width="50px" style="border-radius: 50%;">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item"><a href="#home" class="nav-link" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="#custom-cards" class="nav-link">Features</a></li>
                <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/login" </li>
            </ul>
        </div>
    </div>
</header>