 <%- include("partials/header") %>
 <%- include("partials/navbar") %>
 <div class="px-4 my-4 text-center border-bottom" id="about"> 
        <h1 class="display-4" id="about-us-title">Why Codexia?</h1> 
        <div class="col-lg-6 mx-auto"> 
            <p class="lead mt-3" id="about-us-subtitle">
                QRify lets you turn any link into a stunning, colorful QR code — INSTANTLY.
            
            </p>
            <p class="mb-4">
                Built for speed, simplicity, and style, it’s the easiest way to share URLs, resources, or digital content with anyone, anywhere.
                <br>
                Whether you're a student, creator, or professional, QRify helps you create beautiful QR codes that are quick to scan and easy to download — all in just one click.
            </p> 
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">  
            </div> 
        </div> 
        <div class="overflow-hidden" style="max-height: 30vh;"> 
            <div class="container px-5"> 
                <img src="/assets/Screenshot.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy"> 
            </div> 
        </div> 
    </div>
<%- include("partials/footer") %>